@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap");

:root {
  --primary-color: #9d174d;
  --off-white: #e5e7eb;
  --dark-zinc: #18181b;
}

body {
  font-family: "Quicksand", sans-serif;
  margin: 0px auto;
 
}

hr {
  margin: 2rem 0rem;
}

/** container styles **/

.container {
  padding: 0rem 1rem;
}

.container-center {
  max-width: 900px;
  margin: auto;
}

/** links styles **/

.link {
  text-decoration: none;
  padding: 0.5rem 1.2rem;
  box-sizing: border-box;
}

.link-primary {
  background-color: var(--primary-color);
  border-radius: 0.5rem;
  color: white;
}
.link-secondary {
  color: var(--primary-color);
  border-radius: 0.5rem;
  border: 1px solid var(--primary-color);
}

/** lists styles **/

.list-non-bullet {
  list-style: none;

}

.list-item-inline {
  display: inline;
  padding: 0rem 0.5rem;
}

/** nav styles **/

.navigation {
  background-color: var(--primary-color);
  color: white;
  padding: 1rem;
  border-bottom-left-radius: 1rem;
}

.navigation .nav-brand {
  font-weight: bold;
  font-size: 1.2rem;
}
.navigation .nav-pills {
  text-align: right;
}

.navigation .link {
  color: white;
}

.navigation .link-active {
  font-weight: bold;
}

/** styles for header **/

.hero {
  padding: 2rem;
  padding-top: 5rem;
}

.hero .hero-image {
  max-width: 350px;
  display: block;
  margin: auto;
}

.hero .hero-heading {
  text-align: center;
  padding-top: 1rem;
  color: var(--dark-zinc);
}

span {
  color: var(--primary-color);
}

/** styles for section **/

.section {
  padding: 3rem;
  margin: -8px;
}

.section h1 {
  text-align: center;
}

.ow {
  background-color: var(--off-white);
}

/** styles for footer **/

.footer {
  background-color: var(--primary-color);
  padding: 2rem 1rem;
  text-align: center;
  color: white;
  border-top-right-radius: 1rem;
}
.footer .link {
  color: white;
}

.footer .footer-header {
    font-weight: bold;
    font-size: large;
}
.footer ul {
  padding-inline-start: 0px;
}

/** projects **/
.showcase-list {
  padding: 2rem;
  border-radius: 1rem;
  text-align: center;
  margin: 3rem auto;
}
.showcase-list h1 {
  margin: 0.5rem;
}

.showcase-list p {
  padding-bottom: 1rem;
}

/** blogs **/

.showcase-blog {
  padding-bottom: 6rem;
}

@media (max-width: 900px) {
  body {
    max-width: 95%;
    width: 100%;
  }

  .list-item-inline {
    display: inline;
    padding: 0rem;
  }

  .container-center {
    width: auto;
  }

  .link-primary {
    display: block;
  }
}

@media (max-width: 768px) {
 

  .link{
    padding: 0.5rem 1.5rem;
  }

  .link-primary {
    max-width: 140px;
    padding: 0.6rem 1.2rem;
    background-color: var(--primary-color);
    color: #fff;
    margin: 1rem auto;
    text-align: center;
   

  }
}